@import 'fonts.scss';

$Montserrat: Montserrat;
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }  
body {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    height: 100vh;
    background: linear-gradient(rgba(174, 181, 185, 0.8), rgba(203, 232, 248, 0.8));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}
ul {
    list-style-type: none;
}
.lds-roller {
    display: none;
    position: absolute;
    top: 50%;
    left: 47.5%;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


// STYLES

header {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    margin-top: 20px auto 50px auto;
    .btn-image {
        border: 1px solid rebeccapurple !important;
        border-radius: 7px;
        position: fixed;
        left: 2%;
        bottom: 2%;
        width: 50px;
        height: 50px;
        transition: 2s ease-in-out;
        z-index: 1;
        opacity: 1 !important;
        &:hover {
            animation: lds-roller 2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            transition: 1s ease-in-out;
        }
        
    }
    .choose-language-bar {
        border: 1px solid rgba(174, 181, 185, 1);
        border-radius: 5px;
        height: 95%;
    }
    .choose-degree-bar {
        border: 1px solid rgba(174, 181, 185, 1);
        border-radius: 5px;
        margin-left: 30px;
        height: 95%;
    }
    .search-bar {
        display: flex;
        border: 1px solid rgba(174, 181, 185, 1);
        border-radius: 5px;
        margin-left: 30px;
        input[type=text] {
            padding-left: 20px;
            width: max-content;
            height: 95%;
            border: none;
            background: rgba(76, 82, 85, 0.4);
            font-size: 16px;
            color: white;
        }
    }
    .btn {
        background: rgba(76, 82, 85, 0.4);;
        border: none;
        padding: 10px 15px;
        color: white;
        transition: 0.2s;
        cursor: pointer;
        &:hover {
            background: rgba(174, 181, 185, 0.8);
        }
        &.active {
            background: rgba(174, 181, 185, 0.5);
        }
    }
}
.weather-now-wrapper {
    display: none;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1280px;
    font-family: $Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 54px;
    text-transform: uppercase;
    color: #FFFFFF;
    .user-location-wrapper {
        order: 1;
        width: 90%;
        margin: 0 auto;
        line-height: 1;

    }
    .user-time-wrapper {
        order: 2;
        width: 90%;
        margin: 0 auto;

    } 
    .main-temperature {
        display: flex;
        align-items: center;
        order: 3;
        width: 90%;
        .big-temperature {
            display: block;
            width: max-content;
            margin-left: 30px;
            font-size: 200px;
            line-height: 1.2;
        }
    }
    .weather-one-list {
        order: 4;
        font-size: 20px;
        width: 90%;
        margin: 0 auto 70px auto;
        li {
            line-height: 2;
        }

    }
}
.weather-future-wrapper {
    display: none;
    margin: 0 auto;
    max-width: 1280px;
    .weather-future-list {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        font-family: $Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 54px;
        text-transform: uppercase;
        color: #FFFFFF;
        .weather-two-list {
            font-size: 16px;
            min-height: 155px;
            li {
                line-height: 2;
            }
            li:first-child {
                line-height: 1;
                font-size: 32px;
            }
            li:nth-child(2) {
                font-size: 24px;
            }
        }
        .weather-three-list {
            font-size: 16px;
            min-height: 155px;
            li {
                line-height: 2;
            }
            li:first-child {
                line-height: 1;
                font-size: 32px;
            }
            li:nth-child(2) {
                font-size: 24px;
            }
        }
        .weather-four-list {
            font-size: 16px;
            min-height: 155px;
            li {
                line-height: 2;
            }
            li:first-child {
                line-height: 1;
                font-size: 32px;
            }
            li:nth-child(2) {
                font-size: 24px;
            }
        }
    }
}
.geolocation-wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    margin: 0 auto 100px auto;
    width: 400px;
    height: 300px;
    top: 12%;
    right: 5%;
    .lat, .lon {
        position: absolute;
        right: 0;
        color: white;
        font-size: 24px;
    }
    .lat {
        bottom: -10%;
    }
    .lon {
        bottom: -18%;
    }
}
@media screen and (max-width: 1024px) {
    body {
        background-color: black;
    }
    .geolocation-wrapper {
        display: flex;
        justify-content: center;
        position: sticky;
        margin: 30px auto 100px auto;
        width: 80%;
        height: 300px;
    }
}
@media screen and (max-width: 760px) {
    .lds-roller {
        top: 33%;
        left: 42.5%;
    }
    header {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        div {
            width: max-content;
            margin: 10px;
        }
        button {
            padding: 10px;

        }
        .choose-degree-bar {
            margin: 0;
        }
        .choose-degree-bar {
            order: 1;
        }
        .choose-language-bar {
            order: 2;
        }
        .search-bar {
            order: 3;
            margin: 10px 0;
            input[type=text] {
                height: 35px;
            }
        }
    }
    .weather-now-wrapper {
        .main-temperature {
            .big-temperature {
                font-size: 150px;
            }
            .weather-one-list {
                padding-top: 50px;
                font-size: 13px;
            }
        }
    }
    .weather-future-wrapper {
        .weather-future-list {
            flex-wrap: wrap;
        }

    }
}

@media screen and (max-width: 480px) {
    header {
        .btn-language, .btn-degree {
            padding: 15px 25px;
        }
        .choose-degree-bar {

        }
    }
    .weather-now-wrapper {
        .main-temperature {
            align-self: center;
            .big-temperature {
                margin-left: 16px;
                font-size: 110px;
            }
            .weather-one-list {
                padding-left: 20px;
                font-size: 17px;
            }
        }
    }
    .geolocation-wrapper {
        display: flex;
        justify-content: center;
        width: 90%;
        height: 200px;
    }
}

@media screen and (max-width: 360px) {
    .lds-roller {
        left: 39.5%;
    }
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div {
            width: max-content;
            margin: 10px 0;
        }
        .btn-language, .btn-degree {
            padding: 20px 30px;
        }
        .search-bar {
            input[type=text] {
            }
        }
    }
    .weather-now-wrapper {
        line-height: 1.5;
        .user-location-wrapper {
            width: 87%;
        }
        .main-temperature {
            align-self: center;
            align-items: initial;
            margin-top: 30px;
            .big-temperature {
                font-size: 80px;
                margin-left: 10px;
            }
            .weather-one-list {
                padding-top: 13px;
                padding-left: 30px;
                margin-bottom: 50px;
                font-size: 13px;
            }
        }
        .user-location-wrapper {
            line-height: 1.5;
        }
        .user-time-wrapper {
            width: 77%;
            margin: 0;
            padding: 0 20px;
        }
    }
    .weather-future-wrapper {
        .weather-future-list {
            margin: 0 auto;
            width: 90%;
            font-size: 14px;
            .weather-two-list, .weather-three-list, .weather-four-list {
                min-height: auto;
                li {
                    font-size: 9px;
                }
            }
        }
    }
}